* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    min-width: 1030px;
    font-family: 'Poppins', sans-serif;
}

/*---------------------NAVBAR----------------------*/
#navbar{
    width: 100%;
    height: 10vh;
    background: rgb(0, 0, 0, 0.2);
    min-width: 1030px;
    position: absolute;
    top: 0;
    backdrop-filter: blur(2px);
}
#navbar-container{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
#logo{
    width: 220px;
    height: auto;
    opacity: 0.8;
}
#lado-direito{
    display: flex;
    align-items: center;
    justify-content: center;
}
#itens{
    list-style: none;
    display: flex;
    text-transform: uppercase;
}
#itens li{
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
    color: rgb(255, 255, 255, 0.8);
    letter-spacing: 3px;
}
#bandeiras{
    position: relative;
    left: 10px;
    opacity: 0.7;
}
#flag{
    width: 18px;
    margin: 3px;
    padding-top: 3px;
}

/*---------------------INÍCIO----------------------*/
#inicio{
    width: 100%;
    height: 100vh;
    background: black;
    background-image: url('./img/backfundo9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#inicio-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texto-container{
    position: relative;
    top: 0.5rem;
}
#inicio-container p{
    letter-spacing: 3px;
    color: transparent;
    opacity: 0.8;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke: 0.7px rgb(255, 255, 255);
}
#inicio-container h4{
    margin-top: 5px;
    font-size: 0.7rem;
    color: #888382;
    letter-spacing: 0.9rem;
    text-align: center;
}
.foto_moldura img{
    height: 9rem;
    width: 9.5rem;
    border-radius: 50%;
    padding: 4px;
    background-color: rgb(21, 67, 96);
}

/*---------------------SOBRE MIM----------------------*/
#sobre-mim{
    height: 85vh;
    width: 100%;
    background-color: #12385c;
    min-width: 1300px;
}
#sobre-mim-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#logo2{
    padding-top: 3rem;
    height: auto;
    width: 16rem;
}
#sobre-mim-container p{
    letter-spacing: 1px;
    color: white;
    line-height: 1.7rem;
    width: 70%;
    text-align: justify;
    margin-top: 35px;
}
#rubrica{
    height: auto;
    width: 7rem;
    margin-top: 30px;
}

/*---------------------HABILIDADES----------------------*/
#habilidades{
    width: 100%;
    height: 100vh;
    background-color: #00000a;
}
#habilidades-container{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titlehab{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;
    margin-top: 4rem;
    opacity: 0.9;
}
#skillicons{
    width: 70%;
    display: flex;
    position: relative;
    top: 7rem;
    justify-content: space-between;
}
#skillicons img{
    height: auto;
    width: 40px;
    margin: 30px;
    opacity: 0.8;
}
#video{
    text-align: center;
}
.titleskill{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    opacity: 0.8;
}
#idiomas{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 16%;
    top: 12rem;
}
#idiomas img{
    height: auto;
    width: 45px;
    margin: 20px;
    opacity: 0.8;
}

/*---------------------EXPERIÊNCIA----------------------*/
#exp{
    width: 100%;
    height: 200vh;
    background-color: #00000a;
}
#exp-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.timeline{
    position: relative;
    top: 7rem;
}
.circulo{
    width: auto;
    height: 17px;
    position: relative;
    left: -0.5rem;
    top: -1.5rem;
}
.linha1{
    border-right: 1px solid gray;
    height: 12rem;
    width: 0rem;
}
.exp1{
    color: #d8d7ad;
    position: absolute;
    text-align: end;
    right: 1.3rem;
    top: -1.5rem;
    width: 400px;
    height: auto;
    font-size: 13px;
}
.exp1 h3{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.exp-ano{
    font-size: 18px;
}
.exp1 p{
    letter-spacing: 1px;
    line-height: 1.3rem;
    position: relative;
    top: 0.3rem;
    font-size: 14px;
    font-style: italic;
}
.exp-titulo1{
    font-size: 17px;
    font-weight: 300;
}
.exp-titulo2{
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
}
.linha2{
    border-right: 1px solid gray;
    height: 12rem;
    width: 0rem;
    position: relative;
    top: 1.8rem;
}
.exp2{
    color: #d8d7ad;
    position: absolute;
    text-align: start;
    top: -1.5rem;
    left: 1.5rem;
    width: 400px;
    height: auto;
    font-size: 13px;
}
.exp2 h3{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.exp2 p{
    letter-spacing: 1px;
    line-height: 1.3rem;
    position: relative;
    top: 0.3rem;
    font-size: 14px;
    font-style: italic;
}
.logo-ser{
    width: 150px;
    position: relative;
    top: 1rem;
}
.linha3{
    border-right: 1px solid gray;
    height: 12rem;
    width: 0rem;
    position: relative;
    top: 3.7rem;
}
.exp3{
    color: #d8d7ad;
    position: absolute;
    text-align: end;
    right: 1.3rem;
    top: -1.5rem;
    width: 400px;
    height: auto;
    font-size: 13px;
}
.exp3 h3{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.exp3 p{
    letter-spacing: 1px;
    line-height: 1.3rem;
    position: relative;
    top: 0.3rem;
    font-size: 14px;
    font-style: italic;
}
.linha4{
    border-right: 1px solid gray;
    height: 14rem;
    width: 0rem;
    position: relative;
    top: 5.7rem;
}
.exp4{
    color: #d8d7ad;
    position: absolute;
    text-align: start;
    top: -1.5rem;
    left: 1.5rem;
    width: 400px;
    height: auto;
    font-size: 13px;
}
.exp4 h3{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.exp4 p{
    letter-spacing: 1px;
    line-height: 1.3rem;
    position: relative;
    top: 0.3rem;
    font-size: 14px;
    font-style: italic;
}
.logo-farias{
    height: auto;
    width: 60px;
    position: relative;
    top: 0.5rem;
}

/*---------------------PROJETOS----------------------*/
#projetos{
    height: 100vh;
    background-color: #00000a;
}
#projetos-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.galeria{
    display: flex;
    position: relative;
    top: 50px;
    flex-direction: column;
}
#galeria-1{
    display: flex;
}
#galeria-2{
    display: flex;
}
.galeria img{
    width: 200px;
    height: auto;
    margin: 10px 60px;
    border-radius: 10px;
}

/*---------------------CONTATO----------------------*/
#contato{
    height: 90vh;
    background-color: #00000a;
}
#contato-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
.centro-container{
    position: absolute;
    top: 13rem;
    display: flex;
    align-items: center;
    gap: 13rem;
}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo-location{
    width: 50px;
    height: auto;
}
.tel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: absolute;
    left: 28%;
    height: 100%;*/
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: absolute;
    height: 100%;
    right: 28%;*/
}
.text{
    color: white;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.75;
    margin-top: 0.8rem;
}
.sub-text{
    color: white;
    letter-spacing: 0.1rem;
    opacity: 0.9;
    margin-top: 0.7rem;
    font-size: 15px;
}
#logo-tel{
    width: 50px;
    height: auto;
}
#logo-email{
    width: 70px;
    height: auto;
}
.rede-social{
    position: absolute;
    bottom: 3rem;
    display: flex;
    gap: 30px;
}
.rede-social img{
    width: 30px;
}

/*---------------------RODAPÉ----------------------*/
footer{
    height: 8vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccaa8;
}
footer p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.2rem;
    font-weight: bold;
}
footer img{
    width: 16px;
    height: auto;
    margin-right: 5px;
    align-items: center;
}
